body {
    background: white;
    color: rgb(80, 45, 45);

    margin: 0;
    text-align: center;

    font-family: monospace;
    font-size: 18;
}
h1,h2 {
    color:rgb(237, 127, 127);
}

b {
    color: #5c0c0c;
}
table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;

    font-size: 18;
}
td {
    padding-left: 15px;
    padding-right: 15px;
}
th {
    padding: 15px;
}

a:link,a:visited{
    color:rgb(243, 62, 62);
    text-decoration: none;
}
a:hover{
    color:rgb(231, 151, 151);
}
a:active{
    color:rgb(63, 2, 2);
}


#introduction {
    text-align: left;
    align-items: center;
    margin: 10%;

    font-size: xx-large;
}

.main-section {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3cm;
    margin-top: 3cm;
}

.gallery {
    
}

.gallery-screenshot {
    display: float;
    margin: 1%;
}

.container {
    display: flex;
    align-items: left;
}

.wide-banner {
    text-align: center;
    margin: 0px;
}

.banner {
    text-align: center;
    margin-top: 3cm;
    margin-bottom: 5cm; 
    margin-left: auto;
    margin-right: auto;
}

.banner-image {
    border: 4px solid transparent;
    border-radius: 25px;
}

.banner-image:hover {
    opacity: 75%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 7.5%;
    width: 100%;
    background-color: white;
    color: #502d2d;
}

.footer-link {
    display: inline;
    margin-right: 1cm;
}

.icon {
    width: 20px;
}